* {
    background-color: black;
}

h1 {
    color: white;
    font-size: 5rem;
    font-family: monospace;
    text-align: center;
}

img {
    border-radius: 10%;
    align-items: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.choices{
text-align: center;
}

.choices a{
    color: white;
    font-size: 30px;
    font-family: monospace;
    padding-right: 20px;
}

.paragraphs {
    font-size: 30px;
    font-family: fantasy;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.sections {
    color: white;
    font-family: monospace;
}

.sections article{
    padding-left: 2%;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
}
#pastwork {
    display: flex;
}

.contactcenter {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}
.footer {
    color: white;
    text-align: center;
}
.subheading {
    width: 15%;
    border-right: 2px solid white;
    display: flex;
}

.subheading h2{
    align-self: center;
    display: flex;
    font-size: 3rem;
}
.sectionheading h3 {
   position: absolute;
   top: 15px;
   font-size: 2rem;
}
.sectionheading {
    position: relative;
    min-width: 35%;
}
.imagesize {
    width: 95%;
}
#biggerimage {
    min-width: 90%;
}